Repository hmcts/c100-application, pull requests merged in 2022-08, with the labels that each got.

#9 DTSPO-9578 Updates for Jenkins pipeline
  .circleci/config.yml
  .rspec
  Gemfile
  Gemfile.lock
  README.md
  lib/tasks/all_tests.rake
  tmp/.gitkeep
Labels: ns:c100, prd:c100, rel:c100-application-pr-9

#19 DTSPO-9578 Enable DB migration via pipeline
  Jenkinsfile_CNP
Labels: ns:c100, prd:c100, rel:c100-application-pr-19

#31 DTSPO-9578 Add coverage
  sonar-project.properties
  spec/spec_helper.rb
Labels: ns:c100, prd:c100, rel:c100-application-pr-31

#10 Add environment variables
  Jenkinsfile_parameterized
  charts/c100-application/Chart.yaml
  charts/c100-application/values.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-10

#35 DTSPO-9578 Switch to master pipeline
  Jenkinsfile_CNP
  run.sh
Labels: ns:c100, prd:c100, rel:c100-application-pr-35

#34 Add cronjobs
  charts/c100-application/templates/cronjob.yaml
  charts/c100-application/templates/cronjob_payments.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-34

#43 Minor chart fixes
  charts/c100-application/Chart.yaml
  charts/c100-application/values.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-43

#44 Only include pod env vars on dev
  charts/c100-application/templates/cronjob.yaml
  charts/c100-application/templates/cronjob_payments.yaml
  charts/c100-application/templates/sidekiq.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-44

#49 Add env vars from file system
  .env.test.example
  Dockerfile
  app/mailers/reports_mailer.rb
  charts/c100-application/Chart.yaml
  charts/c100-application/values.yaml
  config/application.rb
  config/database.yml
Labels: ns:c100, prd:c100, rel:c100-application-pr-49

#50 Change DB verification settings
  config/database.yml
Labels: ns:c100, prd:c100, rel:c100-application-pr-50

#52 Add redis url to env vars
  charts/c100-application/Chart.yaml
  charts/c100-application/values.yaml
  config/application.rb
Labels: ns:c100, prd:c100, rel:c100-application-pr-52

#55 Shorten payments service name
  charts/c100-application/templates/cronjob_payments.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-55

#54 Add secrets mnt to sidekiq
  charts/c100-application/Chart.yaml
  charts/c100-application/templates/cronjob.yaml
  charts/c100-application/templates/cronjob_payments.yaml
  charts/c100-application/templates/sidekiq.yaml
  charts/c100-application/values.dev.template.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-54

#57 Update sidekiq readiness test
  config/application.rb
  sidekiq.sh
Labels: ns:c100, prd:c100, rel:c100-application-pr-57

#58 Add RAILS_ENV env var
  Gemfile
  Gemfile.lock
  charts/c100-application/Chart.yaml
  charts/c100-application/templates/sidekiq.yaml
  charts/c100-application/values.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-58

#59 set environment to production
  charts/c100-application/Chart.yaml
  charts/c100-application/values.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-59

#60 Force ssl off
  config/environments/production.rb
Labels: ns:c100, prd:c100, rel:c100-application-pr-60

#62 add kv to cron
  charts/c100-application/templates/cronjob.yaml
  charts/c100-application/templates/cronjob_payments.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-62

#66 Add missing labels for cronjobs
  charts/c100-application/templates/cronjob.yaml
  charts/c100-application/templates/cronjob_payments.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-66

#67 add prod env to dev
  charts/c100-application/templates/cronjob.yaml
  charts/c100-application/templates/cronjob_payments.yaml
  charts/c100-application/templates/sidekiq.yaml
  charts/c100-application/values.dev.template.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-67

#68 Log everything
  app/controllers/application_controller.rb
Labels: ns:c100, prd:c100, rel:c100-application-pr-68

#72 fix
  app/controllers/concerns/error_handling.rb
  charts/c100-application/values.dev.template.yaml
  config/environments/production.rb
  spec/controllers/application_controller_spec.rb
Labels: ns:c100, prd:c100, rel:c100-application-pr-72

#74 update dev EXTERNAL_URL
  charts/c100-application/values.dev.template.yaml
Labels: ns:c100, prd:c100, rel:c100-application-pr-74

#75 Tidy debugging code
  app/controllers/application_controller.rb
  app/controllers/concerns/error_handling.rb
  config/environments/production.rb
  spec/controllers/application_controller_spec.rb
Labels: ns:c100, prd:c100, rel:c100-application-pr-75

#78 Fix value objects allowing nil
  app/value_objects/value_object.rb
  spec/value_objects/value_object_spec.rb
Labels: ns:c100, prd:c100, rel:c100-application-pr-78
